In [2]:
def my_function(x):
    pass

In [3]:
def my_sq(x):
    return x ** 2

In [9]:
# assert to throw back an error
assert my_sq(2) == 3

AssertionError:

In [10]:
assert my_sq(2) == 4

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame({
    'a': [10,20,30],
    'b': [20,30,40]
})

In [13]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [14]:
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [16]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [17]:
def my_exp(x,e):
    return x ** e

In [18]:
df['a'].apply(my_exp, e=4)

0     10000
1    160000
2    810000
Name: a, dtype: int64

In [23]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [20]:
def print_me(x):
    print(x)

In [25]:
df.apply(print_me)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [26]:
def avg_3(x,y,z):
    return(x+y+z)/3

In [ ]:
df.apply(avg_3)

In [27]:
# anonymous function
lambda x: x + 3

In [28]:
import numpy as np

In [29]:
def avg_3_apply(col):
    return np.mean(col)

In [30]:
df.apply(avg_3_apply)

a    20.0
b    30.0
dtype: float64

In [31]:
def avg_3(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return(x+y+z)/3

In [32]:
df['a']

0    10
1    20
2    30
Name: a, dtype: int64

In [33]:
df['a'] + df['b']

0    30
1    50
2    70
dtype: int64

In [34]:
(df['a'] + df['b']) / 2

0    15.0
1    25.0
2    35.0
dtype: float64

In [35]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [56]:
# @ is python decorator
@np.vectorize
def avg_2_mod(x,y):
    if (x==20):
        return np.NaN #np.nan or np.NaN
    else:
        return (x+y)/2

In [38]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [39]:
avg_2_mod(20,100)

nan

In [40]:
avg_2_mod(5,10)

7.5

In [41]:
avg_2_mod(df['a'], df['b'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [42]:
import numpy as np

In [44]:
avg_2_mod_vec = np.vectorize(avg_2_mod)

In [45]:
avg_2_mod_vec(df['a'], df['b'])

array([15., nan, 35.])

In [48]:
import numba

In [53]:
@numba.vectorize
def avg_2_mod_numba(x,y):
    if (x==20):
        return np.NaN #np.nan or np.NaN
    else:
        return (x+y)/2

In [54]:
avg_2_mod_numba(df['a'].values, df['b'].values)

array([15., nan, 35.])

In [58]:
%%timeit
avg_2_mod_numba(df['a'], df['b'])

271 µs ± 2.04 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)